<header id="site-header" class="site-header" role="banner">
  <div class="site-splash-wrapper">
    <div class="site-splash">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}

      <a class="site-logo" href="{{ "/" | relative_url }}">
        <img src="{{ "/assets/images/speckpersand.png" | relative_url }}" alt="">
        <div class="site-name">
          <div>web</div>
          <div>speck</div>
        </div>
      </a>
    </div>
  </div>
</header>

<div id="site-sticky" class="site-sticky">
  <div class="wrapper">
    <div class="site-sticky-logo">
      <span class="site-name">web & speck</span>
    </div>
    <div class="site-social-links">
      <a href="https://www.facebook.com/webundspeck" class="social-link">
        <span class="fa-stack fa-lg cfa-facebook">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://twitter.com/webundspeck" class="social-link">
        <span class="fa-stack fa-lg cfa-twitter">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://www.meetup.com/webundspeck" class="social-link">
        <span class="fa-stack fa-lg cfa-meetup">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-meetup fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
  </div>
</div>
