<header id="site-header" class="site-header" role="banner">
  <div class="site-splash-wrapper">
    <div class="site-splash">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}

      <a class="site-logo" href="{{ "/" | relative_url }}">
        <img src="{{ "/assets/images/speckpersand.png" | relative_url }}" alt="">
        <div class="site-name">
          <div>web</div>
          <div>speck</div>
        </div>
      </a>
    </div>
  </div>
</header>

<div id="site-sticky" class="site-sticky">
  <div class="wrapper">
    <div class="site-sticky-logo">
      <span class="site-name">web & speck</span>
    </div>
    <nav class="site-nav">
      <div class="site-nav-links">
        {%- if page_paths -%}
          {%- for path in page_paths -%} {%- assign my_page = site.pages | where: "path", path | first -%} {%- if my_page.title -%}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {%- endif -%} {%- endfor -%}
        {%- endif -%}
      </div>
    </nav>
  </div>
</div>
