/**
 * Site header
 */
.site-header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: -1;

  min-height: 320px;
}

.site-logo {
  display: block;
  position: relative;
  max-width: 360px;

  margin: auto;
  margin-top: 64px;

  img {
    display: inline-block;
    width: 176px;
  }

  .site-name {
    display: inline-block;

    position: absolute;
    top: 22px;

    margin-left: -24px;

    font-family: "Londrina Solid", sans-serif;
    font-size: 96px;
    font-weight: normal;
    line-height: $base-line-height * $base-font-size * 2.5;

    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;

    &,
    &:visited {
      color: black;
    }
  }
}

.site-sticky {
  position: relative;
  top: 266px;
  z-index: 1;

  line-height: $base-line-height * $base-font-size * 2.25;
  background: white;
  border-color: transparent;
  border-top: 4px solid #FA5A5D;

  -webkit-transition: border 1s;
  -moz-transition: border 1s;
  -o-transition: border 1s;
  transition: border 1s;

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;

    border-bottom: 1px solid $grey-color-light;

    .site-sticky-logo {
      opacity: 1.0;
    }
  }

  .site-sticky-logo {
    display: inline-block;
    opacity: 0.0;

    font-family: "Londrina Solid", sans-serif;
    font-size: 24px;
    font-weight: normal;

    -webkit-transition: opacity 0.35s;
    -moz-transition: opacity 0.35s;
    -o-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }

  .site-social-links {
    float: right;

    a {
      display: inline-block;
      margin: 4px;
    }
  }

  .wrapper {
    position: relative;
  }
}



/**
 * Site Icons
 */
.fas, .fab {
  color: #CCC;

  -webkit-transition: color 0.35s;
  -moz-transition: color 0.35s;
  -o-transition: color 0.35s;
  transition: color 0.35s;
}

a:hover {
  & > .fab.fa-facebook, .cfa-facebook .fas {
    color: #3B5998;
  }

  & > .fab.fa-linkedin, .cfa-linkedin .fas {
    color: #0077B5;
  }

  & > .fab.fa-twitter, .cfa-twitter .fas {
    color: #1DA1F2;
  }

  & > .fab.fa-meetup, .cfa-meetup .fas {
    color: #e51937;
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  margin-top: 266px;
  padding: $spacing-unit 0;
  flex: 1;

  background: white;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

hr {
  margin: 16px 0;
  border: 1px solid #ddd;
}



/**
 * Family Section
 */
.family {
  .family-row {
    text-align: center;

    .family-member {
      display: inline-block;
      margin: 0 20px 8px 20px;

      .fas {
        color: #ccc;
      }

      a {
        text-decoration: none;
      }

      img {
        display: block;
        margin: 16px 0;
        width: 128px;
        height: 128px;
        border-radius: 50%;
      }
    }
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
